<?xml version="1.0" encoding="utf-8"?>
<!-- This file is part of Control. -->

<!-- Control is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU General Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->

<!-- Control is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU General Public License for more details. -->

<!-- You should have received a copy of the GNU General Public License -->
<!-- along with Control.  If not, see <http://www.gnu.org/licenses/>. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samdroid.app.control"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-feature android:name="android.hardware.bluetooth" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Control"
        android:theme="@style/AppTheme"
        android:uiOptions="" >
        <activity
            android:name="com.samdroid.app.control.BlueSelecter"
            android:label="Control" android:theme="@style/AppBaseTheme">
            <intent-filter android:label="Control">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samdroid.app.control.MainControler"
            android:label="@string/title_activity_main_controler" android:theme="@android:style/Theme.Holo.Light">
        </activity>
    </application>

</manifest>