[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/etc/control/icon.png
Name[en_US]=Control
Exec=cd /etc/control & python Snake.py
Name=SNAKE!
Icon=/etc/control/icon.png
